* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ececec;
    padding: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.warning {
    background-color:rgb(252, 252, 105);
    margin: 8px auto;
    font-size: 18px;
    font-weight: bold; 
    padding: 10px;
    color: black;
    text-align: center;
    width: 50%;
    text-transform: uppercase;
    display: none;
}

.error {
    background-color: #f25050;
    margin: 8px auto;
    font-size: 18px;
    font-weight: bold; 
    padding: 10px;
    color: black;
    text-align: center;
    width: 50%;
    text-transform: uppercase;
    display: none;
}

form {
    display: flex;
}

form input {
    font-size: 24px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px 16px;
    margin: 0 16px;
    width: 100%;
    
}

form button {
    background-color: #142d4c;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;
}

table td img {
    height: 30px;
}

footer {
    background-color: #385170;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 40px auto;
    width: 100%;
    max-width: 960px;
    display: none;
}